{% extends 'd3client/layout/base.html' %}
{% block content %}
<style>
  .c-red {
    color: red !important;
    font-weight: bold !important;
  }
</style>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Select key:</label>
      <div class="input-group">
        <select class="form-control" id="key-list">
          </select>
        <span class="input-group-btn">
          <button class="btn btn-default c-red" type="submit">X!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <svg id="line-chart-svg"></svg>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    REQUEST.getKeys('all').done(function(d) {
      var opt = CREATEELEMENT.populateSelect(JSON.parse(d));
      $('#key-list').append(opt);
    }).fail(function(d) {
      alert(d);
    });

    $('#key-list').change(function() {
      var k = $('#key-list option:selected').text();
      REQUEST.getKeys(k).done(function(d) {
        CHART.lineChart('line-chart-svg', d);
      }).fail(function(d) {
        alert(d);
      });
    });

  })
</script>
{% endblock %}
